VITE_PAYPAL_BUSINESS_EMAIL=tu-correo-paypal@ejemplo.com
VITE_PAYPAL_LINK_PROFESIONAL=https://www.paypal.com/ncp/payment/TU_LINK_PROFESIONAL
VITE_PAYPAL_LINK_EMPRESARIAL=https://www.paypal.com/ncp/payment/TU_LINK_EMPRESARIAL
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxx
STRIPE_PRICE_ID_PROFESIONAL=price_xxxxxxxxxxxxxxxxxxxxx
STRIPE_PRICE_ID_EMPRESARIAL=price_xxxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxx
