VITE_PAYPAL_BUSINESS_EMAIL=tu-correo-paypal@ejemplo.com
VITE_PAYPAL_LINK_PROFESIONAL=https://www.paypal.com/ncp/payment/TU_LINK_PROFESIONAL
VITE_PAYPAL_LINK_EMPRESARIAL=https://www.paypal.com/ncp/payment/TU_LINK_EMPRESARIAL
